$font-space-grotesk: "Space Grotesk", sans-serif;
$font-bold: 700;
$font-medium: 500;
$font-regular: 400;
$line-height: 1;
$letter-spacing: -0.03em;

$color-white: #f9f9f7;
$color-black: #141414;
$color-dark-grey: #2b2b2b;
$color-mid-grey: #b2b2b2;
$color-light-grey: #e2e2e2;
$color-blue: #9ff1ff;
