html {
  $vw: 100vw;

  @extend %cover;

  position: fixed;
  overflow: hidden;
  font-size: calc($vw / 768 * 10);
  line-height: 1;

  @media (min-width: 768px) {
    font-size: calc($vw / 1200 * 10);
  }

  @media (min-width: 1200px) {
    font-size: calc($vw / 1512 * 10);
  }
}

body {
  @extend %cover;

  background: $color-blue;
  color: $color-black;
  position: fixed;
  font-family: $font-space-grotesk;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
